<script>
	import { getValueFromNestedProperty } from '../utils.js'
	export default {
		props: ['data', 'prettyname', 'currentkey', 'gnums', 'gbools', 'gstr', 'gobj'],
		computed: {
			bools() { return this.gbools(this.currentkey) },
			nums() { return this.gnums(this.currentkey) },
			strs() { return this.gstr() },
			objs() { return this.gobj(this.currentkey) }
		},
		data() {
			return {
				localData: getValueFromNestedProperty(this.data, this.currentkey)
			}
		}
	}
</script>

<template>
	<div class="swproplist" v-if="localData">
		<h3>{{ prettyname ? prettyname : currentkey }}</h3>
		<dl v-if="bools.length > 0">
			<template v-for="key in bools" :key="key">
				<dt>{{ key }}</dt><dd>{{ localData[key] ? '✅' : '❌' }}</dd>
			</template>
		</dl>
		<dl v-if="nums.length > 0">
			<template v-for="key in nums" :key="key">
				<dt>{{ key }}</dt><dd>{{ localData[key] }}</dd>
			</template>
		</dl>
		<div v-if="typeof localData === 'string'">
			<p>{{ localData }}</p>
		</div>
		<div v-if="objs.length > 0">
			<DataList
					v-for="key in objs"
					:key="key"
					:data="data"
					:prettyname="key"
					:currentkey="currentkey+'.'+key"
					:gnums="gnums" :gbools="gbools" :gstr="gstr" :gobj="gobj"
					/>
		</div>
	</div>
</template>

<style>
.swproplist {
	display: flex;
	flex-flow: column wrap;
	width: fit-content;
	height: fit-content;
}

.swcontent h3, .swcontent h4 {
	padding-bottom: 2px;
	width: 100%;
}

.swcontent dl {
	border-left: 2px dotted grey;
	padding-left: 4px;
}

dl {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 160px;
	height: fit-content;
	font-family: monospace;
}

dd,dt,dl { padding: 0; margin: 0; }
dt { width: 60%; }
</style>
