<script>
	import RangeSelector from './RangeSelector.vue'
	import { getValueFromNestedProperty } from '../utils.js'
	export default {
		components: { RangeSelector },
		emits: ['update:modelValue'],
		props: ['modelValue', 'currentkey', 'prettyname', 'gnums', 'gbools', 'gstr', 'gobj', 'extents', 'defaultstr'],
		methods: {
			fk(subkey) {
				return `${this.currentkey}.${subkey}`
			}
		},
		computed: {
			localValue: {
				get() { return getValueFromNestedProperty(this.modelValue, this.currentkey) }
			},
			initialValue: { get() { return this.modelValue } }
		}
	}
</script>

<template>
	<fieldset tabindex="0">
		<legend>{{ prettyname ? prettyname : currentkey }}</legend>
		<div class="fieldsetcontainer">
			<div class="fieldsetboolscontainer">
				<div v-for="skey of gbools(currentkey)" :key="skey">
					<input type="checkbox" :name="fk(skey)" :id="fk(skey)" v-model="localValue[skey]" />
					<label :for="fk(skey)">{{ skey }}</label>
				</div>
			</div>

			<RangeSelector
					v-for="skey of gnums(currentkey)"
					:key="skey"
					:prettyname="skey"
					:name="fk(skey)"
					v-model="localValue[skey]"
					:extents="extents[fk(skey)]"
					/>

			<div v-if="Array.isArray(localValue)" class="strchoicelist">
				<div v-for="skey of defaultstr[currentkey]" :key="skey">
					<input type="checkbox" :value="skey" :name="currentkey +'.'+ skey" :id="fk(skey)" v-model="initialValue[currentkey]">
					<label :for="currentkey +'.'+ skey">{{ skey }}</label>
				</div>
			</div>

			<div v-if="gobj(currentkey).length > 0" class="subfieldset">
				<FieldSet v-for="skey of gobj(currentkey)" :key="skey"
									v-model="initialValue" :currentkey="fk(skey)" :prettyname="skey"
									:gnums="gnums" :gbools="gbools" :gstr="gstr" :gobj="gobj"
									:extents="extents" />
			</div>
		</div>
	</fieldset>
</template>

<style>
fieldset {
	border-style: none;
	transition: box-shadow 0.3s ease;
	margin: 5px;
	background-color: white;
	overflow: scroll;
	max-height: 80vh;
}

legend {
	font-weight: bold;
}

fieldset>div {
	visibility: collapse;
	max-height: 0;
	max-width: 0;
	overflow: hidden;

	transition: all 1s 0.1s ease;
}

fieldset:hover div,
fieldset:focus-within div {
	visibility: visible;
	max-height: 1000px;
	max-width: 1000px;
}

fieldset {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

fieldset:hover, fieldset:focus-within {
	box-shadow: 0 10px 14px rgba(0, 0, 0, 0.3);
}

.strchoicelist {
	overflow: auto;
	max-height: 200px;
}
</style>
