<script>
	export default {
		emits: ['update:modelValue'],
		props: ['prettyname', 'name', 'modelValue', 'extents'],
		data() {
			return {
				activeSelector: null,
				p_start: 0,
				p_end: 0,
				p_filter: false,
				min: 0,
				max: 0
			}
		},
		computed: {
			filter: {
				get() { return this.p_filter },
				set(val) {
					this.p_filter = val
					this.$emit('update:modelValue', this.p_filter ? {min: this.start, max: this.end} : {min: NaN, max: NaN})
					if (this.max === this.min) return
					this.$refs.slidermin.style.left = `${((this.start - this.min) / (this.max - this.min))*100}%`
					this.$refs.slidermin.style.transform = `translateX(-${((this.start - this.min) / (this.max - this.min))*100}%)`
					this.$refs.slidermax.style.left = `${((this.end - this.min) / (this.max - this.min))*100}%`
					this.$refs.slidermax.style.transform = `translateX(-${((this.end - this.min) / (this.max - this.min))*100}%)`
				}
			},
			start: {
				get() { return this.p_start },
				set(val) {
					if (val > this.p_end || val < this.min) return
					this.p_start = val
					this.filter = true
				}
			},
			end: {
				get() { return this.p_end },
				set(val) {
					if (val < this.p_start || val > this.max) return
					this.p_end = val
					this.filter = true
				}
			}
		},
		mounted() {
			document.addEventListener('pointermove', this.moveSelector)
			document.addEventListener('pointerup', () => { this.activeSelector = null })
		},
		watch: {
			extents(nv) {
				if (nv.length == 2) {
					this.min = nv[0]
					this.max = nv[1]
					this.p_start = this.min
					this.p_end = this.max
				}
			}
		},
		methods: {
			reset(ev) {
				ev.preventDefault()
				this.start = this.min
				this.end = this.max
				this.filter = false
			},
			activateSelector(ev) { this.activeSelector = ev.target },
			moveSelector() {
				if (this.activeSelector === null) return
				const slider = this.$refs.slider
				const sliderRect = slider.getBoundingClientRect();
				const sliderWidth = sliderRect.width;
				const minX = sliderRect.left;
				const maxX = sliderRect.right;

				let x = event.clientX;
				if (x < minX) x = minX;
				if (x > maxX) x = maxX;

				const position = ((x - minX) / sliderWidth) * 100;

				const value = Math.floor(this.min + (position * (this.max - this.min) / 100))

				if (this.activeSelector === this.$refs.slidermin && this.start !== value)
					this.start = value
				else if (this.activeSelector === this.$refs.slidermax && this.end !== value)
					this.end = value
			}
		}
	}
</script>

<template>
	<div class="rangeselector">
		<div class="rs_header">
			<input :id="name" :name="name" type="checkbox" v-model="filter" />
			<label :for="name">{{ prettyname ? prettyname : name }}</label>
			<button class="rstbtn" @click="reset" title="reset"><img src="/public/trashbin.svg" alt="trashbin" /></button>
		</div>
		<div class="rs_content">
			<input :id="name +'.min'" type="number" class="rangeselector_text" v-model="this.start" :min="this.min" :max="this.end" />
			<label :for="name +'.min'" class="rangeselector_text">min</label>
			<div ref="slider" class="slider">
				<div
						tabindex="0"
						ref="slidermin"
						class="selector smin"
						v-on:pointerdown="activateSelector"
						aria-role="slider"
						:aria-valuemin="this.min"
						:aria-valuemax="this.end"
						:aria-valuenow="this.start"
						@keydown.exact.left="this.start--"
						@keydown.exact.right="this.start++"
						:title="this.start"
						>{{this.start}}</div>
				<div
						tabindex="0"
						ref="slidermax"
						class="selector smax"
						v-on:pointerdown="activateSelector"
						aria-role="slider"
						:aria-valuemin="this.start"
						:aria-valuemax="this.max"
						:aria-valuenow="this.end"
						@keydown.exact.left="this.end--"
						@keydown.exact.right="this.end++"
						:title="this.end"
						>{{this.end}}</div>
			</div>
			<input :id="name +'.max'" type="number" class="rangeselector_text" v-model="this.end" :min="this.start" :max="this.max" />
			<label :for="name +'.max'" class="rangeselector_text">max</label>
		</div>
	</div>
</template>

<style>

.rangeselector {
	width: 200px;
	align-self: center;
	padding: 2px;
	padding-top: 5px;
}

.slider {
	width: 100%;
	height: 2px;
	background-color: #ccc;
	position: relative;
	touch-action: none;
}

.selector {
	min-width: 3ch;
	max-width: 5ch;
	height: 20px;
	background-color: #fff;
	border: 1px dotted grey;
	position: absolute;
	top: -10px;
	padding-right: 100%;
	text-align: center;
	user-select: none;
	overflow: hidden;
	text-overflow: ellipsis;
	border-radius: 15%;
	padding: 1px;

	/*cursor: col-resize;*/
}

.selector:first-child { left: 0; }

.selector:last-child { left: 100%; transform: translateX(-100%); }

.rangeselector_text {
	width: 3ch;
	padding: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
}

input.rangeselector_text, label.rangeselector_text {
	display: none;
}

.rs_header, .rs_content {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.rs_header>button.rstbtn {
	margin-left: auto;
}

.rs_header>button.rstbtn img {
	width: 10px;
	height: auto;
}

.rs_content {
	align-items: center;
	height: 32px;
}

</style>
