<script>
	import { getValueFromNestedProperty, clearMetadata } from '../utils.js'
	import FieldSet from './FieldSet.vue'
	export default {
		components: { FieldSet },
		emits: ['filterschanged'],
		props: ['switcheslist', 'defaultFilters', 'gbools', 'gnums', 'gstr', 'gobj'],
		data() { return { filters: this.defaultFilters } },
		computed: {
			extents() {
				let res = {}
				this.switcheslist.forEach(sw => { this.listkeys(sw, '', res) })
				return res
			},
			defaultstr() {
				let keywithval = {}
				for (const k of Object.keys(this.defaultFilters)) {
					if (Array.isArray(this.defaultFilters[k]))
						keywithval[k] =  new Set(this.switcheslist.filter(e => e.manufacturer).map(e => e.manufacturer))
				}
				return keywithval
			}
		},
		methods: {
			listkeys(obj, parentkey, res) {
				for (let k of Object.keys(obj)) {
					if (Object.prototype.hasOwnProperty.call(res, parentkey+k))
						continue
					if (typeof obj[k] === 'number')
						res[parentkey+k] = this.getextent(parentkey+k)
					else if (typeof obj[k] === 'object')
						this.listkeys(obj[k], parentkey+k+'.', res)
				}
			},
			getextent(key) {
				let values = []
				for (let sw of this.switcheslist) {
					let val = getValueFromNestedProperty(sw, key)
					if (val !== undefined) values.push(val)
				}
				return [Math.min(...values), Math.max(...values)]
			},
		},
		watch: {
			defaultFilters:{
				handler(val) { this.filters = val },
				deep: true
			},
			filters: {
				handler(filters) { this.$emit('filterschanged', clearMetadata(filters)) },
				deep: true
			}
		}
	}
</script>

<template>
	<form action="#">
		<!-- todo try without v-for to let the components recurse -->
		<FieldSet v-for="key of Object.keys(filters)" :key="key"
							v-model="filters" :currentkey="key"
							:gnums="gnums" :gbools="gbools" :gstr="gstr" :gobj="gobj"
							:extents="extents" :defaultstr="defaultstr" />
	</form>
</template>

<style>
form {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	overflow: scroll;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	height: fit-content;
}

@media (max-width: 600px) {
	form {
		justify-content: unset;
	} 
}
</style>
