<script>
	import DataList from './DataList.vue'
	export default {
		components: { DataList },
		props: [ 'data', 'gnums', 'gbools', 'gstr', 'gobj' ]
	}
</script>

<template>
	<div class='switchitem' tabindex="0">

		<div class='swheader'>
			<h2 class='swmodel'>{{ data.model }}</h2>
			<p v-if="data.manufacturer" class='swbrand'>{{ data.manufacturer }}</p>
		</div>

		<div class='swcontent'>
			<DataList
					v-for="key in Object.keys(data).filter(e => !['model', 'manufacturer'].includes(e))"
					:key="key"
					:data="data"
					:currentkey="key"
					:gnums="gnums" :gbools="gbools" :gstr="gstr" :gobj="gobj"
					/>

		</div>
	</div>
</template>

<style>
.switchitem {
	display: flex;
	flex-direction: column;
	padding: 12px;
	margin: 4px;
	width: 340px;


	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;

	background-color: #ffffff;
}
.switchitem:hover {
	box-shadow: 0 10px 14px rgba(0, 0, 0, 0.3);
}

.swmodel::before {
	content: url('/switch0.png');
	padding: 0;
	padding-right: 8px;
}

.swbrand {
	border-radius: 6px;
	background-color: rgba(232, 232, 232, .8);
	height: 22px;
	padding: 2px 12px;
}

.swheader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

.swcontent {
	display: flex;
	flex-wrap: wrap;
}

.swcontent>.swproplist:nth-child(3) {
	order: -1;
}
</style>
