#app, body {
	width: 100%;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#app {
	max-width: 1920px;
	background-color: ghostwhite;
}

.fx {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.line { flex-direction: row; }
.col { flex-direction: column; }
.sb { width: 100%; justify-content: space-between; }

p, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
	all: inherit;
}

strong {
	font-weight: bold;
}

@media (max-width: 600px) {
	* {
		font-size: small;
	}
}
