<script>
	import SwitchFilters from './components/SwitchFilters.vue'
	import SwitchItem from './components/SwitchItem.vue'
	import { compareObjects, clearVoidFilters, getValueFromNestedProperty } from './utils.js'

	const source_url = 'https://corsproxy.io/?https%3A%2F%2Fframagit.org%2Fledeuns%2Fswitchselector%2F-%2Fraw%2Fmain%2Fswitches.json'
	// const source_url = 'switches.json'

	export default {
		components: { SwitchFilters, SwitchItem },
		data() {
			return {
				switches: [],
				filters: {},
				propTypes: {'bools': {}, 'nums': {}, 'str': {}, 'obj': {}}
			}
		},
		created() { this.fetchData() },
		computed: {
			filteredswitches() {
				let filters = clearVoidFilters(this.filters)
				return this.switches.filter(sw => compareObjects(filters, sw))
			},
			defaultFilters: {
				get() {
					return {
						manufacturer: [],
						manageable: { _obj: true, ssh: false, telnet: false, cli: false, netconf: false, web: false },
						physical: {
							_obj: true,
							modular: false,
							industrial: false,
							size: { _obj: true, height: {min: NaN, max: NaN}, width: {min: NaN, max: NaN}, depth: {min: NaN, max: NaN} },
							fan: { _obj: true, count: {min: NaN, max: NaN}, hotplug: false },
							power: { _obj: true, count: {min: NaN, max: NaN}, hotplug: false, maxdraw: {min: NaN, max: NaN} },
							flash: {min: NaN, max: NaN}
						},
						interfaces: { _obj: true, "SFP+": {min: NaN, max: NaN}, "QSFP+": {min: NaN, max: NaN}, "RJ45": {min: NaN, max: NaN} },
						features: {
							_obj: true,
							layer2: { _obj: true, forwarding: {min: NaN, max: NaN}, mac: {min: NaN, max: NaN}, vlan: {min: NaN, max: NaN}, mtu: {min: NaN, max: NaN} },
							layer3: { _obj: true, prefixes: {min: NaN, max: NaN} },
							BGP: false, BFD: false, OSPF: false, OSPFv3: false, QoS: false, multicast: false
						},
					}
				}
			},
		},
		methods: {
			gettype(key, type, testfunc) {
				let obj = getValueFromNestedProperty(this.defaultFilters, key)
				if (obj === undefined) return []
				if (this.propTypes[type][key] !== undefined) return this.propTypes[type][key]
				let filtered = []
				for (let k of Object.keys(obj)) {
					if (testfunc(obj, k)) filtered.push(k)
				}
				this.propTypes[type][key] = filtered
				return filtered
			},
			gobj(key) {
				return this.gettype(key, 'obj', (obj, k) => {
					return Object.prototype.hasOwnProperty.call(obj[k], '_obj') && obj[k]['_obj'] == true
				})
			},
			gstr(key = '') {
				return this.gettype(key, 'str', (obj, k) => {
					return Array.isArray(obj[k])
				})
			},
			/* get keys with boolean properties of obj */
			gbools(key) {
				return this.gettype(key, 'bools', (obj, k) => {
					return obj[k] === false
				})
			},
			/* get keys with 'number' type properties of obj */
			gnums(key) {
				return this.gettype(key, 'nums', (obj, k) => {
					return Object.prototype.hasOwnProperty.call(obj[k], 'min')
						&& Object.prototype.hasOwnProperty.call(obj[k], 'max')
						&& isNaN(obj[k].min) && isNaN(obj[k].max)
				})
			},
			async fetchData() {
				const response = await fetch(source_url);
				this.switches = await response.json();
			},
			/* trigger the watcher */
			handleFilters(ev) {
				this.filters = {}
				this.filters = ev
			},
		}
	}
</script>

<template>
	<header class="fx col">
		<SwitchFilters :switcheslist="switches" :defaultFilters="defaultFilters" @filterschanged="handleFilters" :gbools="gbools" :gnums="gnums" :gstr="gstr" :gobj="gobj" />
		<p v-if="filteredswitches != undefined">{{ filteredswitches.length }} result(s)</p>
	</header>

	<main>
		<ul class="switcheslist">
			<li v-for="item in filteredswitches" :key="item">
				<SwitchItem :data="item" :gbools="gbools" :gnums="gnums" :gstr="gstr" :gobj="gobj" />
			</li>
		</ul>
	</main>
	<footer><p><strong>switchselector</strong></p><p>réalisé pour Denis Fondras - Liopen</p><p>conception Loïs Poujade - contact@lpo.host</p></footer>
</template>

<style scoped>
main, ul {
	width: 100%;
}

.switcheslist {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.switcheslist > li {
	flex: 0 0;
	padding: 4px;
}

header {
	width: 100%;
	backdrop-filter: blur(20px);
	position: fixed;
	top: 0;
	height: 70px;
	overflow: visible;

}

header>p {
	padding-top: 10px;
	position: fixed;
	bottom: 0;
}

main {
	flex-grow: 1;
	padding-top: 100px;
}

ul {
	padding-top: 0;
}

footer {
	flex: 0 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	padding-bottom: 10px;
	padding-top: 20px;
	justify-content: center;
	opacity: .6;
}

footer:hover {
		opacity: 1;
}

footer>p:first-child {
	width: 100%;
	text-align: center;
}

footer > p {
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}
</style>
